.right-swing {
    float: right;
    padding: 8em;
    border: 5px solid black;
    margin: 19em 0em;
}

.left-swing {
    float: left;
    padding: 8em;
    border: 5px solid black;
    margin: 19em 0em;
}

.bottom-button {
    position: absolute;
    bottom: 0;
    align-content: center;
    margin: 4em 35em;
}